version: "3.8"

services:
{%- if http %}
  nos-http-gateway:
    image: {{ image }}
    command: nos-http-server --port {{ http_port }}
    environment:
      - NOS_HOME=/app/.nos
      - NOS_LOGGING_LEVEL={{ logging_level }}
      - NOS_HTTP_MAX_WORKER_THREADS={{ http_max_workers }}
    volumes:
      - ~/.nosd:/app/.nos
      - /dev/shm:/dev/shm
    network_mode: host
    ipc: host
    depends_on:
      - nos-server
{% endif %}
  nos-server:
    image: {{ image }}
    environment:
      - NOS_HOME=/app/.nos
      - NOS_LOGGING_LEVEL={{ logging_level }}
      - NOS_HUB_CATALOG_PATH=$NOS_HUB_CATALOG_PATH:{{ config }}
    volumes:
      - ~/.nosd:/app/.nos
      - /dev/shm:/dev/shm
    network_mode: host
    ipc: host
{%- if gpu %}
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
{% endif %}
