mkdocs>=1.5.2
mkdocs-blog-plugin
mkdocs-exclude
mkdocs-include-markdown-plugin
mkdocs-material-extensions>=1.2
mkdocs-material[imaging]>=9.5.0
mkdocs-pymdownx-material-extras
mkdocs-same-dir
mkdocs-table-reader-plugin
mkdocs-typer
mkdocstrings
mkdocstrings-python
mkdocstrings[python]
